@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

ruffle-player, ruffle-object, ruffle-embed {
     --splash-screen-background: #;
     --logo-display: block;
       font-family: 'Poppins';
       width: 100vw;
       height: 100vh;
}
body{
overflow: hidden;
margin:0;
}